@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <center>
        <img src="https://imgc.artprintimages.com/img/print/amazing-spider-man-1-cover_u-l-q1348wf0.jpg?h=550&w=550" />
    </center>
</div>